<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        {{{body}}}

        <script>
            window.lastUpdateTime = {{lastUpdateTime}}
        </script>
        <script src="/components/requirejs/require.js" data-main="javascripts/main"></script>
    </body>
</html>
