::-webkit-scrollbar-thumb:vertical { width: 8px; background: dark; }
::-webkit-scrollbar-thumb:horizontal { height: 8px; background: dark; }
::-webkit-scrollbar { width: 8px; background: grey; }

*{
	&,
	&:before,
	&:after{
		box-sizing: border-box;
	}
}

img{
	max-width: 100%;	
}

html, body{
	min-height: 100%;
}

html{
	border: 8px solid dark;
	overflow-y scroll
}