// block.logo
.logo{
	font-family title_font
	font-size 65px
	line-height 70px
	height 70px  
	width 288px
	margin 100px auto 
	text-align center
	color dark
	text-decoration none
	display block
	text-transform lowercase
}

// .back-to-top-btn
.back-to-top-btn{
	position fixed
	left: 0;
	top 50%
}