//colors
dark = #222;
grey = #e1e1e1;

//fonts
base_font = "Helvetica Neue", Helvetica, Arial, sans-serif;
tile_font = "New Rail Alphabet Bold", Arial, serif;

//breakpoints
mobile = 360px;
tablet = 768px;
desktop = 1024px;
basic_desktop = 1366px;
large_desktop = 1920px;