.gallery,
.about-page,
.page{
	display: none;
}

.state_gallery{
	.gallery{
		display: block;
	}
}

.state_page{
	.page{
		display: block;
	}
}

.state_about{
	.about-page{
		display: block;
	}
}

