@font-face {
	font-family: 'NewRailAlphabet-Bold';
	src: url('../fonts/NewRailAlphabet-Bold.eot?') format('eot'), 
	     url('../fonts/NewRailAlphabet-Bold.otf')  format('opentype'),
	     url('../fonts/NewRailAlphabet-Bold.woff') format('woff'), 
	     url('../fonts/NewRailAlphabet-Bold.ttf')  format('truetype'),
	     url('../fonts/NewRailAlphabet-Bold.svg#NewRailAlphabet-Bold') format('svg');
}
